body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.attribution {
    color: #aaa;
    font-family: "Lexend Deca", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}
.attribution a {
    color: #006970;
    text-decoration: none;
    opacity: .6;
}