body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.attribution {
    color: #aaa;
    font-family: "Lexend Deca", sans-serif;
    position: absolute;
    bottom: 0;
    
}
.attribution a {
    color: #006970;
    text-decoration: none;
    opacity: .6;
}