body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  color: #aaa;
  font-family: "Lexend Deca", sans-serif;
  position: absolute;
  bottom: 0;
}

.attribution a {
  color: #006970;
  text-decoration: none;
  opacity: 0.6;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(to top, #6565e7, #af67e9);
  min-width: 350px;
  height: 100vh;
}

.faq-container {
  padding: 10rem 1rem 5rem 1rem;
}

.box-container {
  display: none;
}

.woman-box {
  background: white;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
}
.woman-box figure {
  margin: 0;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  z-index: 10;
}
.woman-box figure .bg-pattern-desk, .woman-box figure .woman-desktop {
  display: none;
}
.woman-box .bg-pattern {
  top: 0;
}
.woman-box .woman-img {
  top: -108px;
  margin-right: 2rem;
}

.card-container {
  background: white;
  padding: 1rem;
  border-radius: 0 0 1.5rem 1.5rem;
  position: relative;
}
.card-container h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.card-container .card-faq-box .card-faq-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e9;
}
.card-container .card-faq-box .card-faq-title .btn {
  border: none;
  background: transparent;
  padding: 0;
}
.card-container .card-faq-box .card-faq-title .btn:hover {
  cursor: pointer;
}
.card-container .card-faq-box h3, .card-container .card-faq-box p {
  color: #787887;
}
.card-container .card-faq-box .faq-title {
  cursor: pointer;
}
.card-container .card-faq-box .faq-title:hover {
  color: #f47c57 !important;
}

.btn-up {
  transform: rotate(180deg);
}

.p-hide {
  display: none;
}

.info-hidden {
  height: 0;
  overflow: hidden;
  animation-name: hide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  margin: 0;
}

.info-show {
  display: block;
  margin: 0;
  padding-top: 0.5rem;
  overflow: hidden;
  animation-name: show;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.title-selected {
  color: #1d1e35 !important;
}

@keyframes show {
  from {
    height: 0;
  }
  to {
    height: 50px;
  }
}
@keyframes hide {
  from {
    height: 50px;
  }
  to {
    height: 0px;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .container .faq-container {
    display: flex;
    padding: 10vh 11vh;
    width: 80%;
    position: relative;
  }
  .container .faq-container .woman-box {
    border-radius: 1.5rem 0 0 1.5rem;
  }
  .container .faq-container .woman-box .bg-pattern {
    top: -229px;
    left: -475px;
  }
  .container .faq-container .woman-box .woman-img {
    top: 80px;
    left: -75px;
  }
  .container .faq-container .woman-box {
    overflow: hidden;
  }
  .container .faq-container .woman-box, .container .faq-container .card-container {
    width: 50%;
    padding: 2rem;
    height: auto;
  }
  .container .faq-container .woman-box .bg-pattern-mobile, .container .faq-container .woman-box .woman-mobile, .container .faq-container .card-container .bg-pattern-mobile, .container .faq-container .card-container .woman-mobile {
    display: none;
  }
  .container .faq-container .woman-box .bg-pattern-desk, .container .faq-container .woman-box .woman-desktop, .container .faq-container .woman-box .box-desktop, .container .faq-container .card-container .bg-pattern-desk, .container .faq-container .card-container .woman-desktop, .container .faq-container .card-container .box-desktop {
    display: block;
  }
  .container .box-container {
    display: block;
    position: absolute;
    top: 267px;
    left: -65px;
    z-index: 1000;
  }
  .container .card-container {
    position: relative;
    border-radius: 0 1rem 1rem 0;
    overflow-y: hidden;
  }
  .container .card-container h2 {
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
