// basic reset and commons styles
@use "_common";

// colors
$dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$light-grayish-blue: hsl(240, 5%, 91%);

$gradient-violet: hsl(273, 75%, 66%);
$gradient-blue: hsl(240, 73%, 65%);

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    
    
}

// MOBILE
.container {
    background-image: linear-gradient(to top, $gradient-blue, $gradient-violet);
    height: 100vh;
    padding: 1rem;
    padding-top: 10rem;
    min-width: 350px;
    position: relative;
    
}

.main-img {
    position: relative;
    display: flex;
    justify-content: center;
    figure {
        position: absolute;
        z-index: 10;
    }
    .img-woman-box {
        top: -119px;
        margin-left: 1rem;
    }
}


// .main-img, .sec-img {
//     display: flex;
//     justify-content: center;
//     .img-woman {
//         position: absolute;
//         z-index: 10;
//         top: 11%;
//         margin-right: 30px;
//     }
//     .img-bg {
//         position: absolute;
//         z-index: 9;
//         top: 24%;
//         margin-right: 40pxs;
//     }
// }



// card container
.card-container {
    background: white;
    padding: 1rem;
    padding-top: 100px;
    border-radius: 1.5rem;
    position: relative;

    

    h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }

    .card-faq-box {
        .card-faq-title {
            display: flex;
            justify-content: space-between;

            .btn {
                border: none;
                background: transparent;
                padding: 0;
            }
            .btn:hover {
                cursor: pointer;
            }

        }


        h3, p {
            color: $dark-grayish-blue;
        }

    }
}


// this class will be apply when the user clicked the .btn element
// JS


.btn-up {
    transform: rotate(180deg);
}

.p-hide {
    display: none;
}

.info-hidden {
    height: 0;
    overflow: hidden;
    animation-name: hide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    margin: 0;
}

.info-show {
    display: block;
    margin: 0;
    overflow: hidden;
    animation-name: show;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

// animation for accordion
@keyframes show {
    from {
        height: 0;
    }
    to {
        height: 50px;
    }
}
@keyframes hide {
    from {
        height: 50px;
    }
    to {
        height: 0px;
    }
}



// desktop 
@media only screen and (min-width: 600px) {
    
}

